package userView

import (
	"got/internal/views/layout"
	"got/internal/models"

)

templ Show(user models.User){
	@layout.Base(){
<h1>Hello Users</h1>
<p>
	User Name: {user.Name}
	User Email: {user.Email}
</p>
	}
	
}